In [2]:
import polars as pl

In [3]:

df = pl.read_csv("data/bank_transactions.csv")

In [13]:
df.shape

(1048567, 9)

In [14]:
df.head()

shape: (5, 9)
┌────────────┬────────────┬─────────────┬────────────┬─────┬──────────────┬──────────────┬──────────────┬──────────────┐
│ Transactio ┆ CustomerID ┆ CustomerDOB ┆ CustGender ┆ ... ┆ CustAccountB ┆ TransactionD ┆ TransactionT ┆ TransactionA │
│ nID        ┆ ---        ┆ ---         ┆ ---        ┆     ┆ alance       ┆ ate          ┆ ime          ┆ mount (INR)  │
│ ---        ┆ str        ┆ str         ┆ str        ┆     ┆ ---          ┆ ---          ┆ ---          ┆ ---          │
│ str        ┆            ┆             ┆            ┆     ┆ f64          ┆ str          ┆ i64          ┆ f64          │
╞════════════╪════════════╪═════════════╪════════════╪═════╪══════════════╪══════════════╪══════════════╪══════════════╡
│ T1         ┆ C5841053   ┆ 10/1/94     ┆ F          ┆ ... ┆ 17819.05     ┆ 2/8/16       ┆ 143207       ┆ 25.0         │
│ T2         ┆ C2142763   ┆ 4/4/57      ┆ M          ┆ ... ┆ 2270.69      ┆ 2/8/16       ┆ 141858       ┆ 27999.0      │
│ T3         ┆ C4417068   ┆ 26/11/96    ┆ F          ┆ ... ┆ 17874.44     ┆ 2/8/16       ┆ 142712       ┆ 459.0        │
│ T4         ┆ C5342380   ┆ 14/9/73     ┆ F          ┆ ... ┆ 866503.21    ┆ 2/8/16       ┆ 142714       ┆ 2060.0       │
│ T5         ┆ C9031234   ┆ 24/3/88     ┆ F          ┆ ... ┆ 6714.43      ┆ 2/8/16       ┆ 181156       ┆ 1762.5       │
└────────────┴────────────┴─────────────┴────────────┴─────┴──────────────┴──────────────┴──────────────┴──────────────┘

In [10]:
df.columns

['TransactionID',
 'CustomerID',
 'CustomerDOB',
 'CustGender',
 'CustLocation',
 'CustAccountBalance',
 'TransactionDate',
 'TransactionTime',
 'TransactionAmount (INR)']

<h2  style="color:darkmagenta;text-align: center; background-color: AliceBlue;padding: 20px;"> Data Cleaning</h2><a id = "3"></a>

In [11]:
df.describe()

shape: (7, 10)
┌────────────┬────────────┬────────────┬─────────────┬─────┬──────────────┬──────────────┬──────────────┬──────────────┐
│ describe   ┆ Transactio ┆ CustomerID ┆ CustomerDOB ┆ ... ┆ CustAccountB ┆ TransactionD ┆ TransactionT ┆ TransactionA │
│ ---        ┆ nID        ┆ ---        ┆ ---         ┆     ┆ alance       ┆ ate          ┆ ime          ┆ mount (INR)  │
│ str        ┆ ---        ┆ str        ┆ str         ┆     ┆ ---          ┆ ---          ┆ ---          ┆ ---          │
│            ┆ str        ┆            ┆             ┆     ┆ f64          ┆ str          ┆ f64          ┆ f64          │
╞════════════╪════════════╪════════════╪═════════════╪═════╪══════════════╪══════════════╪══════════════╪══════════════╡
│ count      ┆ 1048567    ┆ 1048567    ┆ 1048567     ┆ ... ┆ 1.048567e6   ┆ 1048567      ┆ 1.048567e6   ┆ 1.048567e6   │
│ null_count ┆ 0          ┆ 0          ┆ 0           ┆ ... ┆ 2369.0       ┆ 0            ┆ 0.0          ┆ 0.0          │
│ mean       ┆ null       ┆ null       ┆ null        ┆ ... ┆ 115403.54005 ┆ null         ┆ 157087.52939 ┆ 1574.335003  │
│            ┆            ┆            ┆             ┆     ┆ 6            ┆              ┆ 3            ┆              │
│ std        ┆ null       ┆ null       ┆ null        ┆ ... ┆ 846485.38060 ┆ null         ┆ 51261.854022 ┆ 6574.742978  │
│            ┆            ┆            ┆             ┆     ┆ 1            ┆              ┆              ┆              │
│ min        ┆ T1         ┆ C1010011   ┆ 1/1/00      ┆ ... ┆ 0.0          ┆ 1/8/16       ┆ 0.0          ┆ 0.0          │
│ max        ┆ T999999    ┆ C9099956   ┆ nan         ┆ ... ┆ 1.1504e8     ┆ 9/9/16       ┆ 235959.0     ┆ 1.5600e6     │
│ median     ┆ null       ┆ null       ┆ null        ┆ ... ┆ 16792.18     ┆ null         ┆ 164226.0     ┆ 459.03       │
└────────────┴────────────┴────────────┴─────────────┴─────┴──────────────┴──────────────┴──────────────┴──────────────┘

In [12]:
df.is_duplicated()

shape: (1048567,)
Series: '' [bool]
[
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	...
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
]