In [2]:
import polars as pl

In [3]:

df = pl.read_csv("data/bank_transactions.csv")

In [4]:
df.head(10)

shape: (10, 9)
┌────────────┬────────────┬─────────────┬────────────┬─────┬──────────────┬──────────────┬──────────────┬──────────────┐
│ Transactio ┆ CustomerID ┆ CustomerDOB ┆ CustGender ┆ ... ┆ CustAccountB ┆ TransactionD ┆ TransactionT ┆ TransactionA │
│ nID        ┆ ---        ┆ ---         ┆ ---        ┆     ┆ alance       ┆ ate          ┆ ime          ┆ mount (INR)  │
│ ---        ┆ str        ┆ str         ┆ str        ┆     ┆ ---          ┆ ---          ┆ ---          ┆ ---          │
│ str        ┆            ┆             ┆            ┆     ┆ f64          ┆ str          ┆ i64          ┆ f64          │
╞════════════╪════════════╪═════════════╪════════════╪═════╪══════════════╪══════════════╪══════════════╪══════════════╡
│ T1         ┆ C5841053   ┆ 10/1/94     ┆ F          ┆ ... ┆ 17819.05     ┆ 2/8/16       ┆ 143207       ┆ 25.0         │
│ T2         ┆ C2142763   ┆ 4/4/57      ┆ M          ┆ ... ┆ 2270.69      ┆ 2/8/16       ┆ 141858       ┆ 27999.0      │
│ T3         ┆ C4417068   ┆ 26/11/96    ┆ F          ┆ ... ┆ 17874.44     ┆ 2/8/16       ┆ 142712       ┆ 459.0        │
│ T4         ┆ C5342380   ┆ 14/9/73     ┆ F          ┆ ... ┆ 866503.21    ┆ 2/8/16       ┆ 142714       ┆ 2060.0       │
│ ...        ┆ ...        ┆ ...         ┆ ...        ┆ ... ┆ ...          ┆ ...          ┆ ...          ┆ ...          │
│ T7         ┆ C7126560   ┆ 26/1/92     ┆ F          ┆ ... ┆ 973.46       ┆ 2/8/16       ┆ 173806       ┆ 566.0        │
│ T8         ┆ C1220223   ┆ 27/1/82     ┆ M          ┆ ... ┆ 95075.54     ┆ 2/8/16       ┆ 170537       ┆ 148.0        │
│ T9         ┆ C8536061   ┆ 19/4/88     ┆ F          ┆ ... ┆ 14906.96     ┆ 2/8/16       ┆ 192825       ┆ 833.0        │
│ T10        ┆ C6638934   ┆ 22/6/84     ┆ M          ┆ ... ┆ 4279.22      ┆ 2/8/16       ┆ 192446       ┆ 289.11       │
└────────────┴────────────┴─────────────┴────────────┴─────┴──────────────┴──────────────┴──────────────┴──────────────┘

In [3]:
df.columns

Index(['TransactionID', 'CustomerID', 'CustomerDOB', 'CustGender',
       'CustLocation', 'CustAccountBalance', 'TransactionDate',
       'TransactionTime', 'TransactionAmount (INR)'],
      dtype='object')

In [4]:
df.shape

(1048567, 9)